h6{
	text-align: end;
}
td{
	font-size: 20px;
}
#sort{
	height: 50px;
}
#shop{
	display: flex;
	justify-content: space-between;
}
#quantity{
	width: 175px;
}
#price{
	font-size: 30px;
}
#accordion2{
	display: flex;
	justify-content: flex-start;
}
#about{
	font-size: 30px;
}
#rec{
	height: 55px;
	font-size: 20px;
	text-align: center;
}
#activity, #settings{
	text-decoration: none;
}
#add, #add2{
	display: flex;
	justify-content: flex-end;
}
#checkout{
	text-decoration: none;
	color: white;
}
.activities{
	font-size: 30px;
}
.product_name{
	text-decoration: none;
}
.info{
	align-self: center;
	font-size: 17px;
}
.details, .card_items{
   display: flex;
   justify-content: space-between;
}
.congratulations{
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
}
.go_to_shop{
	font-size: 25px;
}
.total{
	font-size: 25px;
}